<i>## Comments will be provided using this format. Key takeaway: groups are encouraged to change the formatting, but not the structure. Groups are also allowed to create additional notebooks - for instance, create one notebook for data exploration, and one notebook for each preprocessing-modelling-evaluation pipeline -, but must strive to keep an unified style across notebooks.</i>

#### NOVA IMS / BSc in Data Science / Text Mining 2025/2026
### <b>Group Project: "Straining the great southern Melting Pot"</b>
#### Notebook `Notebook Title`

#### Group:
- `Group member #1`
- `(...)`
- `Group member #5`

#### <font color='#BFD72'>Table of Contents </font> <a class="anchor" id='toc'></a> 
- [1. Data Understanding](#P1)
- [2. General Data Preparation](#P2) 
- [3. Multilabel Classification (Information Requirement 3311)](#P3)
    - [3.1 Specific Data Preparation](#P31)
    - [3.2 Model Implementation](#P32)
    - [3.3 Model Evaluation](#P3n)
- [4. Sentiment Analysis (Information Requirement 3312)](#P4)
    - [4.1 Specific Data Preparation](#P41)
    - [4.2 Model Implementation](#P42)
    - [4.3 Model Evaluation](#P43)
- [...]
- [N. Additional Tasks (Information Requirements 332n)](#Pn)
    - [N.1 Specific Data Preparation](#Pn1)
    - [N.2 Model Implementation](#Pn2)
    - [N.3 Model Evaluation](#Pn3)

<i>## Note that the notebook structure differs from the report: instead of following the CRISP-DM phases and then specifying the different problems inside the phases, the notebook is structured by problem, with the CRISP-DM phases being defined for each specific problem.

In [1]:
## All imports must be concentrated on a cell that immediately follow the table of contents
import time

<font color='#BFD72F' size=5>1. Data Understanding</font> <a class="anchor" id="P1"></a>
  
[Back to TOC](#toc)

<i>## Use markdown cells to describe the purpose of the code cells that follow them.</i>

In [6]:
# Load and explore the dataset
import pandas as pd

df = pd.read_csv("data_atlanta/atlanta_restaurant_slice_2023.csv")
df.head()

,title,categoryName,website,url,reviewsCount,stars,text
0,The Optimist,Seafood restaurant,https://www.theoptimistrestaurant.com/,https://www.google.com/maps/place/The+Optimist...,3349,5.0,"One word amazing!! The red fish, halibut, fr..."
1,The Optimist,Seafood restaurant,https://www.theoptimistrestaurant.com/,https://www.google.com/maps/place/The+Optimist...,3349,5.0,First time here and the food is great and the ...
2,The Optimist,Seafood restaurant,https://www.theoptimistrestaurant.com/,https://www.google.com/maps/place/The+Optimist...,3349,5.0,I recently had the pleasure of dining at Optim...
3,The Optimist,Seafood restaurant,https://www.theoptimistrestaurant.com/,https://www.google.com/maps/place/The+Optimist...,3349,5.0,Beautiful atmosphere and delicious food. All o...
4,The Optimist,Seafood restaurant,https://www.theoptimistrestaurant.com/,https://www.google.com/maps/place/The+Optimist...,3349,5.0,We had a wonderful dinner at the Optimist. Our...

In [8]:
import numpy as np

In [9]:
np.unique(df['title'])

array(['3 Amigos Mexican Bar & Grill', '5Church Buckhead', 'AG',
       "ANNUNZIATA'S Pizza & Pasta", 'AZN Sandwich Bar',
       'Abuelos Mexican Kitchen and Cantina', 'Alma Cocina Downtown',
       "Arby's", 'Argosy', 'Aria', 'Atalian', 'Atlanta Fish Market',
       'Atlas', 'Aviva by Kameel Downtown',
       'Azul Tequila Taqueria & Cantina', "Baba's Gyro & Kabob",
       'Bacchanalia', 'Balsas Mexican Restaurant',
       'Bangkok Thai Restaurant', 'Baraonda Ristorante & Bar',
       'Basecamp at Kennesaw Mountain', 'Bay Leaf Indian Cuisine',
       'Benihana', "Big D's BBQ", 'Big Daddy’s Oyster Bar',
       'Biryanis Place Sandy Springs', 'Blue Moon Pizza',
       'Blue Moon Pizza Sandy Springs', 'Bones Restaurant',
       'Borgo Italia', 'Branchwater', 'BrickStone Cafe & Restaurant',
       'Brooklyn Cafe', "Buck's Pizza", 'Buon Fornello Café & Bottega',
       'CASITA MEXICAN KITCHEN & MARGARITA BAR', 'CAVA',
       'Cafe Sababa - Mediterranean Grill', 'Canoe', "Captain D's",
       'Carbonara Trattoria', "Carrabba's Italian Grill", 'Casa Vieja',
       'Casi Cielo', 'Charm Thai Cuisine', 'Checkers',
       "Cheeseburger Bobby's", 'Chick-fil-A', 'Chin Chin 5',
       'Chin Chin Chinese', 'China Kitchen', 'China Star',
       'Chipotle Mexican Grill', 'Choong Man Chicken Peachtree City',
       'Chopsticks China Bistro', 'Chopsticks at Dunwoody',
       "Chupito's Azteca Grille", "Church's Texas Chicken",
       'Cinco Mexican Cantina', 'Cook Out', 'Costa Mar Seafood & Grill',
       'Cracker Barrel Old Country Store', 'Crooked Tree Cafe',
       'Crosstown Grille', 'Cue Barbecue', 'Dairy Queen Grill & Chill',
       'Deckers Express', "Del Frisco's Double Eagle Steakhouse",
       "Dickey's Barbecue Pit", 'Dirty Rascal',
       "Don Pedro's Mexican Restaurant", 'Dragon Buffet',
       'Due South Seafood Kitchen', 'Eats',
       'Ege Sushi & Japanese Cuisine', 'Egg Harbor Cafe', 'El Azteca',
       'El Pollo Dorado', 'El Ranchero 7 Bar & Grill',
       'El Ranchero Mexican Restaurant', 'El Rio Cantina', 'El Valle',
       'El Velero Seafood & Mexican', 'Farm Burger Dunwoody',
       "Farmer's Basket", "Fat Matt's Rib Shack",
       'Firehouse Subs Cumming Marketplace',
       'Firehouse Subs Westpark Walk', 'First Watch',
       'Five Boroughs Pizza Tavern', 'Five Guys', 'Flower Child',
       'Fork & Juniper Restaurant', 'Forno Vero',
       'Fridas Mexican Cuisine', 'Georgia Shrimp Co',
       "Good ol' Days Bar and Grill", 'Goto', 'Grana', 'Grazing Here',
       'Grindhouse Killer Burgers', 'Gunshow', 'Hacienda Bar & Grill',
       'Happy China', 'Happy Family Chinese Food And Sushi Bar',
       'Hard Rock Cafe', 'Hardee’s', 'Haveli Indian Cuisine | Marietta',
       'Hearth Pizza Tavern', 'Hoboken Cafe on Whitlock',
       'Hong Kong Chinese Restaurant', 'House of Lu', "Houston's",
       'Huddle House', 'Hyderabad House Atlanta - Biryani Place', 'IHOP',
       'Ichiban Japanese Sushi Bar & Grill', 'Imperial China Restaurant',
       "J. Alexander's Restaurant", "J. Christopher's",
       'J.A.T.C Cuisine ATL', 'Jalisco Restaurant', "Jersey Mike's Subs",
       'Jerusalem Bakery & Grill', "Jet's Pizza®",
       "Jim 'N Nick's Bar-B-Q", "Jimmy John's", "Joey D's Oak Room",
       'Johnny Rockets', "Johnny's New York Style Pizza", 'KFC',
       'KR SteakBar', 'Kid Cashew',
       'Kobe Japanese Steakhouse in Peachtree City, GA', 'Krystal',
       'L On North', 'LA MEXICANA', 'LA PAPA "Hot potato & Corn House"',
       'La Grotta Ristorante', 'La Hacienda Mexican Restaurant',
       'La Parrilla Mexican Restaurant', 'La Tavola Trattoria',
       'La Zacatecana Taqueria', 'Lake Burrito',
       'Lazy Dog Restaurant & Bar', 'Lemon Grass Thai Restaurant',
       'Lennys Grill & Subs', 'Little Caesars Pizza',
       'Little Thai Cuisine', 'Local Three Kitchen & Bar',
       'LongHorn Steakhouse', 'Longleaf Restaurant',
       'Los Bravos Mexican Restaurant', 'Los Mariachis', 'Los Rios',
       'Lucky China', "Lucky's Burger & Brew Marietta", 'Lure',
       'MOD Pizza', "Mac's Chop House", 'Madras Mantra Marietta',
       "Maggiano's Little Italy", "Mama's Restaurant", 'MamiTaco',
       "Marco's Pizza", "Marie's Italian Deli, Bakery & Market",
       'Marietta Burger Bar', 'Marietta Crawfish', 'Marietta Pizza Co',
       'Marisqueria El Escandalo', "Marlow's Tavern",
       "Martin's Restaurant", "McAlister's Deli", "McDonald's",
       "McKendrick's Steak House", 'Mellow Mushroom Cumming',
       'Mellow Mushroom Peachtree City', 'Mellow Mushroom Sandy Springs',
       'Mexican Grill', 'Mezza Luna Pasta & Seafood',
       'Mi Barrio Mexican Restaurant', 'Mi Rancho #2',
       "Mike & C's Family Sports Grill", 'Milano Pizza & Subs',
       'Miller Union', "Moe's Southwest Grill",
       'Monterrey Mexican Restaurant Marietta',
       'Mr. Fuji Steakhouse and Sushi', 'NFA Burger', 'NaanStop',
       'Nan Thai Fine Dining',
       'Napoli New York Pizza Italian Kitchen & Catering',
       'Night Life Pizza', "Nino's Italian Restaurant", 'No Mas! Cantina',
       'North Italia', 'Novo Cucina', "O'Charley's Restaurant & Bar",
       'Old Harbor Seafood Kitchen', 'Old Lady Gang Southern Cuisine',
       'Olive Garden Italian Restaurant', 'Osaka Steak And Sushi',
       'Outback Steakhouse', 'PITA Mediterranean Street Food',
       'PITA Mediterranean Street Food-Marietta Square',
       'PONKO Chicken Marietta Square Market', 'Padella Italian Atlanta',
       "Palmer's", 'Panda Express', 'Papa Johns Pizza',
       'Pappadeaux Seafood Kitchen', 'Partners II Pizza',
       'Partners II Pizza Braelinn', 'Peachtree City Yacht Club',
       'Philly & Wraps', 'Piastra Restaurant', 'Pollo Campero Marietta',
       'Popeyes Louisiana Kitchen', "Provino's Italian Restaurant",
       'Pueblos Mexican Cuisine', 'QDOBA Mexican Eats',
       'Ranchero Bar & Grill (Westpark)', 'Red Elephant Thai Cuisine',
       'Red Pepper Taqueria - Dunwoody', "Rooster's Cafe",
       'Royal Spice Indian Restaurant', 'Ruscello',
       'Sage Woodfire Tavern Perimeter', 'San Luis Restaurant',
       'Sarku Japan', 'Savor Bar & Kitchen', 'Savory Mexican Restaurant',
       'Sawnee Mountain Biscuit Co.', "Schlotzsky's", 'Seasons 52',
       'Shai Karr Eatery', 'Shake Shack Perimeter Mall',
       "Shuckin' Shack Oyster Bar", 'Siete Tacos + Tequila',
       'Six Feet Under Pub & Fish House - Grant Park',
       'Smokey Bones Peachtree City', 'Smokey Q BBQ',
       'Socks Love Barbecue', 'Spring Restaurant', 'Staplehouse',
       'Star Of India', "Steak 'n Shake", 'Stockyard Burgers and Bones',
       'Subway', 'Summits Wayside Tavern',
       'Super Chix - Peachtree City, GA', 'Superica', 'TWO urban licks',
       'Taco Bell', 'Taco mexico', 'Tacos & Tequilas Mexican Grill',
       "Tam's BackStage", 'Taqueria Los Hermanos',
       'Taqueria Saribella, LLC', 'Taquito Express - Mt Vernon',
       "Taziki's Mediterranean Cafe - Sandy Springs",
       "Ted's Montana Grill", 'Texas Roadhouse', 'Thai Spice',
       'The Best Pizza Marietta', 'The Bistro – Eat. Drink. Connect.®',
       'The Courtside Grille', 'The Curious Pig', 'The Eating Spot',
       'The Italian Oven Restaurant', 'The Optimist', 'The Red Eyed Mule',
       'The Ridge-Great Steaks and Seafood', 'The Select',
       'The Southern Gentleman', 'The Station House', 'The Terrace',
       'Tre Vele', 'Treehouse Restaurant and Pub',
       'Tuk Tuk Thai Food Loft', 'Twisted Kitchen Marietta',
       'Viceroy Indian Dining', 'Village Burger',
       "Vinny's N.Y. Pizza & Grill - Sandy Springs",
       'Viva Mexico Mexican Restaurant',
       'WEI SICHUAN AUTHENTIC CHINESE CUISINE', 'WR Social House',
       'Waffle House', "Wendy's", 'Wok Express Chinese Restaurant',
       'Yard House', 'Your Pie Pizza', 'Yume Ramen Bar in Peachtree City',
       "Zaxby's Chicken Fingers & Buffalo Wings",
       'il Giallo Osteria & Bar'], dtype=object)

In [18]:
# replace "title" with "restaurant_name"
#df['restaurant_name'] = df['title']
#df = df.drop(columns=['title'])
df.set_index('restaurant_name', inplace=True)

In [19]:
df

,categoryName,website,url,reviewsCount,stars,text
restaurant_name,,,,,,
The Optimist,Seafood restaurant,https://www.theoptimistrestaurant.com/,https://www.google.com/maps/place/The+Optimist...,3349,5.0,"One word amazing!! The red fish, halibut, fr..."
The Optimist,Seafood restaurant,https://www.theoptimistrestaurant.com/,https://www.google.com/maps/place/The+Optimist...,3349,5.0,First time here and the food is great and the ...
The Optimist,Seafood restaurant,https://www.theoptimistrestaurant.com/,https://www.google.com/maps/place/The+Optimist...,3349,5.0,I recently had the pleasure of dining at Optim...
The Optimist,Seafood restaurant,https://www.theoptimistrestaurant.com/,https://www.google.com/maps/place/The+Optimist...,3349,5.0,Beautiful atmosphere and delicious food. All o...
The Optimist,Seafood restaurant,https://www.theoptimistrestaurant.com/,https://www.google.com/maps/place/The+Optimist...,3349,5.0,We had a wonderful dinner at the Optimist. Our...
...,...,...,...,...,...,...
L On North,New American restaurant,https://www.lonnorth.com/?utm_source=google&ut...,https://www.google.com/maps/place/L+On+North/@...,449,5.0,Friday night dinner was Chicken Francaise. Jor...
L On North,New American restaurant,https://www.lonnorth.com/?utm_source=google&ut...,https://www.google.com/maps/place/L+On+North/@...,449,5.0,Great dinner.... Yay Jordan!!!!!!
L On North,New American restaurant,https://www.lonnorth.com/?utm_source=google&ut...,https://www.google.com/maps/place/L+On+North/@...,449,5.0,Jordan was our server and he was fantastic! Gr...
L On North,New American restaurant,https://www.lonnorth.com/?utm_source=google&ut...,https://www.google.com/maps/place/L+On+North/@...,449,5.0,Jordan was an amazing server! Great delicious...
L On North,New American restaurant,https://www.lonnorth.com/?utm_source=google&ut...,https://www.google.com/maps/place/L+On+North/@...,449,5.0,Great food and service. Well spaced tables a...

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 53566 entries, The Optimist to L On North
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   categoryName  53566 non-null  object
 1   website       50600 non-null  object
 2   url           53566 non-null  object
 3   reviewsCount  53566 non-null  int64
 4   stars         53566 non-null  float64
 5   text          53566 non-null  object
dtypes: float64(1), int64(1), object(4)
memory usage: 2.9+ MB

In [27]:
# unique values of "review_count"
df['reviewsCount'].unique()

array([ 3349,   643,   391,   327,  5504,  2321,   124,  1019,   514,
          21,     5,  4219,   449,  1443,  1496,   586,   850,     9,
         490,  4641,   628,  8057,   735,  1153,  6300,  2530,   563,
        1884,   425,  1325,   743,  1521,   785,   881,  2340,  4103,
        9933,   400,  5516,   444,   117,  2152,  6017,  6817,  1119,
        2031,  1029,   531,  1092,  1126,  1364,   661,  6144,   355,
        2141,   133,   328,   796,   480,   281,    17,  1238,   904,
         829,   599,   300,  1227,   912,  1024,  1441,  1548,   422,
         877,  2656,   723,   310,   404,   364,   215,   323,   901,
         589,  1140,   261,   825,  1900,    79,  2329,   130,   466,
         321,   864,   351,   504,   507,  2196,  2975,  2502,   578,
         334,   668,  3128,  3876,  2370,  1987,  1110,  1370,  1514,
         332,   955,   867,   779,   122,   517,   153,    57,   644,
         676,    60,   964,   658,   674,   585,   630,   491,   371,
         405,   451,   372,   813,  1059,   213,  1131,   453,   623,
         194,   316,  1329,   176,   954,    70,   214,   689,    47,
         349,    95,   162,   777,   616,  1184,   553,   556,  1053,
         642,   381,    27,   537,   431,  1253,   587,   529,   207,
         544,   455,  2177,   498,    34,   989,   728,  1167,  1328,
         865,  1352,   898,  2411,  1331,  1696,  1644,  1631,   919,
         460,   808,   164,  1334,   681,   119,   629,  1556,   907,
         408,   748,   467,   853,   259,   131,   185,   339,   232,
         539,    62,   137,    98,    80,   424,   110,   849,   360,
         341,   233,   528,   255,   154,   620,  1363,   338,   742,
         970,   695,   648,   231,   502,  1655,   913,   380,   447,
         326,   750,   257,  1213,   390,   799,   340,   420,  1820,
        1206,   304,   716,  1575,   312,   715,   401,   318,  1112,
        1191,  1235,  1280,   208,    18,   461,   472,   141,   511,
          50,   161,  1166,   289,   525,  1176,   610,   592,  1531,
        2169,  1163,   636,   142,  1001,   583,    75,   576,   452,
         315,  1039,  3965,   730,  1094,    51,   847,   221,   852,
         190,  2797,   834,  1157,   174,  1033,   252,   403,   707,
          99,    71,   144,    38,   565,   908,   774,  1046,   998,
        1348,  1499,   108,   382,   760, 13268,  1504,   995,  2353,
         440,   619,   880,   699,    77,   386,   573,  2346])

In [5]:
## Functions must be defined on separate cells
def text_mining_project_simulator():
    project_progress = 0
    while project_progress < 100:
        ## Comments on code cells can be used to highlight specific sections of yout code
        project_progress += 1
        print("working, albeit reluctantly, on a project that's {}% done \n\n".format(project_progress))
        time.sleep(5)

In [ ]:
## Calls to functions (whether defined by the group, or imported from packages) must be separate from their definition

text_mining_project_simulator()